.header {
  background: rgb(100,222,207);
  background: linear-gradient(90deg, rgba(100,222,207,1) 0%, rgba(126,217,98,1) 60%);
  color: white;
  padding: 10px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


